openapi: 3.1.0
info:
  title: Stack API
  version: 1.0.0
servers:
  - url: https://app.stack-auth.com/api/v1
    description: Stack API server
paths:
  /users:
    get:
      summary: List users
      description: List all the users in the project
      operationId: listUsers
      parameters: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    projectId:
                      type: string
                      description: Stack dashboard project ID
                      example: project-id
                    id:
                      type: string
                      description: Unique user identifier
                      example: user-id
                    primaryEmail:
                      type: string
                      description: Primary email
                      example: johndoe@email.com
                    primaryEmailVerified:
                      type: boolean
                      description: Primary email verified
                      example: true
                    displayName:
                      type: string
                      description: User display name
                      example: John Doe
                    selectedTeam:
                      type: object
                    selectedTeamId:
                      type: string
                      description: Selected team ID
                      example: team-id
                    profileImageUrl:
                      type: string
                      description: Profile image URL
                      example: https://example.com/image.jpg
                    signedUpAtMillis:
                      type: number
                      description: Signed up at milliseconds
                      example: 1630000000000
                    hasPassword:
                      type: boolean
                      description: Whether the user has a password
                      example: true
                    authWithEmail:
                      type: boolean
                      description: Whether the user can authenticate with email (email/password and
                        magic link, depending on the project setting on the
                        dashboard)
                      example: true
                    oauthProviders:
                      type: array
                      items:
                        type: string
                      description: All the OAuth providers connected to this account
                      example:
                        - google
                        - github
                    clientMetadata:
                      type: object
                      description: Client metadata. Used as a data store, accessible from the client
                        side
                      example:
                        key: value
                    serverMetadata:
                      type: object
                      description: Server metadata. Used as a data store, only accessible from the
                        server side
                      example:
                        key: value
                required: []
      tags:
        - Users
  /users/{userId}:
    get:
      summary: Get a user
      description: Get a user by user ID
      operationId: getUser
      parameters:
        - name: userId
          in: path
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  projectId:
                    type: string
                    description: Stack dashboard project ID
                    example: project-id
                  id:
                    type: string
                    description: Unique user identifier
                    example: user-id
                  primaryEmail:
                    type: string
                    description: Primary email
                    example: johndoe@email.com
                  primaryEmailVerified:
                    type: boolean
                    description: Primary email verified
                    example: true
                  displayName:
                    type: string
                    description: User display name
                    example: John Doe
                  selectedTeam:
                    type: object
                  selectedTeamId:
                    type: string
                    description: Selected team ID
                    example: team-id
                  profileImageUrl:
                    type: string
                    description: Profile image URL
                    example: https://example.com/image.jpg
                  signedUpAtMillis:
                    type: number
                    description: Signed up at milliseconds
                    example: 1630000000000
                  hasPassword:
                    type: boolean
                    description: Whether the user has a password
                    example: true
                  authWithEmail:
                    type: boolean
                    description: Whether the user can authenticate with email (email/password and
                      magic link, depending on the project setting on the
                      dashboard)
                    example: true
                  oauthProviders:
                    type: array
                    items:
                      type: string
                    description: All the OAuth providers connected to this account
                    example:
                      - google
                      - github
                  clientMetadata:
                    type: object
                    description: Client metadata. Used as a data store, accessible from the client
                      side
                    example:
                      key: value
                  serverMetadata:
                    type: object
                    description: Server metadata. Used as a data store, only accessible from the
                      server side
                    example:
                      key: value
                required:
                  - projectId
                  - id
                  - primaryEmailVerified
                  - signedUpAtMillis
                  - authMethod
                  - hasPassword
                  - authWithEmail
                  - oauthProviders
      tags: &a3
        - Users
    put:
      summary: Update a user
      description: Update a user. Only the values provided will be updated
      operationId: updateUser
      parameters:
        - name: userId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                  description: User display name
                  example: John Doe
                clientMetadata:
                  type: object
                  description: Client metadata. Used as a data store, accessible from the client
                    side
                  example: &a1
                    key: value
                serverMetadata:
                  type: object
                  description: Server metadata. Used as a data store, only accessible from the
                    server side
                  example: &a2
                    key: value
                primaryEmail:
                  type: string
                  description: Primary email
                  example: johndoe@email.com
                primaryEmailVerified:
                  type: boolean
                  description: Primary email verified
                  example: true
                selectedTeamId:
                  type: string
                  description: Selected team ID
                  example: team-id
              required: []
              example:
                displayName:
                  example: John Doe
                clientMetadata: *a1
                serverMetadata: *a2
                primaryEmail:
                  example: johndoe@email.com
                primaryEmailVerified:
                  example: true
                selectedTeamId:
                  example: team-id
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  projectId:
                    type: string
                    description: Stack dashboard project ID
                    example: project-id
                  id:
                    type: string
                    description: Unique user identifier
                    example: user-id
                  primaryEmail:
                    type: string
                    description: Primary email
                    example: johndoe@email.com
                  primaryEmailVerified:
                    type: boolean
                    description: Primary email verified
                    example: true
                  displayName:
                    type: string
                    description: User display name
                    example: John Doe
                  selectedTeam:
                    type: object
                  selectedTeamId:
                    type: string
                    description: Selected team ID
                    example: team-id
                  profileImageUrl:
                    type: string
                    description: Profile image URL
                    example: https://example.com/image.jpg
                  signedUpAtMillis:
                    type: number
                    description: Signed up at milliseconds
                    example: 1630000000000
                  hasPassword:
                    type: boolean
                    description: Whether the user has a password
                    example: true
                  authWithEmail:
                    type: boolean
                    description: Whether the user can authenticate with email (email/password and
                      magic link, depending on the project setting on the
                      dashboard)
                    example: true
                  oauthProviders:
                    type: array
                    items:
                      type: string
                    description: All the OAuth providers connected to this account
                    example:
                      - google
                      - github
                  clientMetadata:
                    type: object
                    description: Client metadata. Used as a data store, accessible from the client
                      side
                    example:
                      key: value
                  serverMetadata:
                    type: object
                    description: Server metadata. Used as a data store, only accessible from the
                      server side
                    example:
                      key: value
                required:
                  - projectId
                  - id
                  - primaryEmailVerified
                  - signedUpAtMillis
                  - authMethod
                  - hasPassword
                  - authWithEmail
                  - oauthProviders
      tags: *a3
    delete:
      summary: Delete a user
      description: Delete a user. Use this with caution
      operationId: deleteUser
      parameters:
        - name: userId
          in: path
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                required: []
      tags: *a3
  /current-user:
    get:
      summary: Get the current user
      description: Get user by session
      operationId: getCurrentUser
      parameters: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  projectId:
                    type: string
                    description: Stack dashboard project ID
                    example: project-id
                  id:
                    type: string
                    description: Unique user identifier
                    example: user-id
                  primaryEmail:
                    type: string
                    description: Primary email
                    example: johndoe@email.com
                  primaryEmailVerified:
                    type: boolean
                    description: Primary email verified
                    example: true
                  displayName:
                    type: string
                    description: User display name
                    example: John Doe
                  selectedTeam:
                    type: object
                  selectedTeamId:
                    type: string
                    description: Selected team ID
                    example: team-id
                  profileImageUrl:
                    type: string
                    description: Profile image URL
                    example: https://example.com/image.jpg
                  signedUpAtMillis:
                    type: number
                    description: Signed up at milliseconds
                    example: 1630000000000
                  hasPassword:
                    type: boolean
                    description: Whether the user has a password
                    example: true
                  authWithEmail:
                    type: boolean
                    description: Whether the user can authenticate with email (email/password and
                      magic link, depending on the project setting on the
                      dashboard)
                    example: true
                  oauthProviders:
                    type: array
                    items:
                      type: string
                    description: All the OAuth providers connected to this account
                    example:
                      - google
                      - github
                  clientMetadata:
                    type: object
                    description: Client metadata. Used as a data store, accessible from the client
                      side
                    example:
                      key: value
                  serverMetadata:
                    type: object
                    description: Server metadata. Used as a data store, only accessible from the
                      server side
                    example:
                      key: value
                required:
                  - projectId
                  - id
                  - primaryEmailVerified
                  - signedUpAtMillis
                  - authMethod
                  - hasPassword
                  - authWithEmail
                  - oauthProviders
      tags: &a6
        - Users
    put:
      summary: Update the current user
      description: Update user by session. Only the values provided will be updated
      operationId: updateCurrentUser
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                  description: User display name
                  example: John Doe
                clientMetadata:
                  type: object
                  description: Client metadata. Used as a data store, accessible from the client
                    side
                  example: &a4
                    key: value
                serverMetadata:
                  type: object
                  description: Server metadata. Used as a data store, only accessible from the
                    server side
                  example: &a5
                    key: value
                primaryEmail:
                  type: string
                  description: Primary email
                  example: johndoe@email.com
                primaryEmailVerified:
                  type: boolean
                  description: Primary email verified
                  example: true
                selectedTeamId:
                  type: string
                  description: Selected team ID
                  example: team-id
              required: []
              example:
                displayName:
                  example: John Doe
                clientMetadata: *a4
                serverMetadata: *a5
                primaryEmail:
                  example: johndoe@email.com
                primaryEmailVerified:
                  example: true
                selectedTeamId:
                  example: team-id
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  projectId:
                    type: string
                    description: Stack dashboard project ID
                    example: project-id
                  id:
                    type: string
                    description: Unique user identifier
                    example: user-id
                  primaryEmail:
                    type: string
                    description: Primary email
                    example: johndoe@email.com
                  primaryEmailVerified:
                    type: boolean
                    description: Primary email verified
                    example: true
                  displayName:
                    type: string
                    description: User display name
                    example: John Doe
                  selectedTeam:
                    type: object
                  selectedTeamId:
                    type: string
                    description: Selected team ID
                    example: team-id
                  profileImageUrl:
                    type: string
                    description: Profile image URL
                    example: https://example.com/image.jpg
                  signedUpAtMillis:
                    type: number
                    description: Signed up at milliseconds
                    example: 1630000000000
                  hasPassword:
                    type: boolean
                    description: Whether the user has a password
                    example: true
                  authWithEmail:
                    type: boolean
                    description: Whether the user can authenticate with email (email/password and
                      magic link, depending on the project setting on the
                      dashboard)
                    example: true
                  oauthProviders:
                    type: array
                    items:
                      type: string
                    description: All the OAuth providers connected to this account
                    example:
                      - google
                      - github
                  clientMetadata:
                    type: object
                    description: Client metadata. Used as a data store, accessible from the client
                      side
                    example:
                      key: value
                  serverMetadata:
                    type: object
                    description: Server metadata. Used as a data store, only accessible from the
                      server side
                    example:
                      key: value
                required:
                  - projectId
                  - id
                  - primaryEmailVerified
                  - signedUpAtMillis
                  - authMethod
                  - hasPassword
                  - authWithEmail
                  - oauthProviders
      tags: *a6
