html[data-theme='dark'] {
  --ifm-background-color: #030712;
  --ifm-background-surface-color: #030712;
}

.navbar {
  border-bottom: 1px solid rgb(26, 26, 26);
}

.menu {
  border-right: 1px solid rgb(26, 26, 26);
}

.table-of-contents {
  border-left: 1px solid rgb(26, 26, 26);
}

.navbar__logo img {
  height: 80%;
  margin-top: 4px;
}

.prism-code {
  background-color: rgb(15,23,42,50) !important;
}

.sidebar-title {
  font-size: 0.7rem;
  font-weight: bold;
  opacity: 70%;
  margin-top: 2rem;
  text-transform: uppercase;
}

.starred > a::before {
  content: "★";
  color: #f0d000;
  margin-right: 0.25rem;
}
