/* @tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: white;
  --foreground: black;
}

[data-stack-theme='dark'] {
  --background: black;
  --foreground: white;
}

body {
  background-color: var(--background);
  color: var(--foreground);
} */
