
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  width: 60%;
  flex-direction: column;
}

.side {
  width: 40%;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  float: right;
}