name: Lint & build

on:
  push:
    branches:
      - dev
      - main
  pull_request:
    branches:
      - dev
      - main

jobs:
  lint_and_build:
    runs-on: ubuntu-latest

    env:
      NEXT_PUBLIC_STACK_URL: http://localhost:8101
      NEXT_PUBLIC_STACK_PROJECT_ID: internal
      NEXT_PUBLIC_STACK_PUBLISHABLE_CLIENT_KEY: internal-project-publishable-client-key
      STACK_SECRET_SERVER_KEY: internal-project-secret-server-key
      SERVER_SECRET: 23-wuNpik0gIW4mruTz25rbIvhuuvZFrLOLtL7J4tyo

      EMAIL_HOST: 0.0.0.0
      EMAIL_PORT: 2500
      EMAIL_USERNAME: test
      EMAIL_PASSWORD: none
      EMAIL_SENDER: noreply@test.com

      DATABASE_CONNECTION_STRING: postgres://postgres:password@localhost:5432/stackframe
      DIRECT_DATABASE_CONNECTION_STRING: postgres://postgres:password@localhost:5432/stackframe

    strategy:
      matrix:
        node-version: [18.x, 20.x]

    steps:
      - uses: actions/checkout@v3
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
            version: 9.1.2
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Build
        run: pnpm build
      - name: Lint
        run: pnpm lint
      - name: Check if docs is generated
        run: |
          pnpm generate-docs
          git diff --exit-code
