name: Publish Docs

on:
  push:
    branches:
      - main

jobs:
  run:
    runs-on: ubuntu-latest
    env:
      NEXT_PUBLIC_STACK_URL: http://localhost:8101
      NEXT_PUBLIC_STACK_PROJECT_ID: internal
      NEXT_PUBLIC_STACK_PUBLISHABLE_CLIENT_KEY: internal-project-publishable-client-key
      STACK_SECRET_SERVER_KEY: internal-project-secret-server-key
      SERVER_SECRET: 23-wuNpik0gIW4mruTz25rbIvhuuvZFrLOLtL7J4tyo

      EMAIL_HOST: 0.0.0.0
      EMAIL_PORT: 2500
      EMAIL_USERNAME: test
      EMAIL_PASSWORD: none
      EMAIL_SENDER: noreply@test.com

      DATABASE_CONNECTION_STRING: postgres://postgres:password@localhost:5432/stackframe
      DIRECT_DATABASE_CONNECTION_STRING: postgres://postgres:password@localhost:5432/stackframe

    permissions: write-all

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
            version: 9.1.2

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm build

      - name: Generate docs
        run: pnpm generate-docs

      - name: Install Fern
        run: npm install -g fern-api

      - name: Publish Docs
        env:
          FERN_TOKEN: ${{ secrets.FERN_TOKEN }}
        run: fern generate --docs --log-level debug
        working-directory: ./docs